* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #eceeeb;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
/*h1 {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 100px;
}
*/
#title_img {
  width: 160px;
  height: 200px;

  position: relative;
}
#header_links {
  display: flex;
  justify-content: flex-end;
  gap: 34px;
  margin-right: 70px;
}
#header_links a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
}
#banner_container {
  position: relative;
  width: 1500px;
  height: 500px;
}
#banner_img {
  width: 100%;
  height: 100%;
  padding-left: 30px;
}
