* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eceeeb;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 10px;
}

#title_container {
  display: flex;
  align-items: center;
}

#title_img {
  max-width: 18%;
  max-height: 18%;
  margin-bottom: 10px;
}

#name {
  font-size: 15px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#header_links {
  display: flex;
  justify-content: flex-end;
  gap: 34px;
  margin-right: 70px;
}
#header_links a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
}

#header_links a:hover {
  color: #624444;
}
#banner_container {
  position: relative;
  width: 1500px;
  height: 500px;
}
#banner_img {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-top: 40px;
}
#header_p {
  position: absolute;
  text-align: center;
  bottom: 40px;
  right: 40px;
  padding: 10px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 25px;
  background-color: #d9d9d9bc;
  line-height: 1.6;
}
#services_container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.products_container {
  padding: 80px;
}
.service1_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  padding-left: 50px;
}
.service1_2 img {
  width: 231.73px;
  height: 300px;
}
.service1_2 p {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
  width: 20%;
}
#services h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding-top: 85px;
  border-bottom: none;
}

.description {
  display: inline-block;
  margin-top: 15px;
  background: black;
  color: white;
  padding: 5px 10px;
}
#info {
  margin: 50px;
}
.info_guide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 50px;
  border-bottom: 1px solid #000;
}

.left {
  width: 50%;
  text-align: center;
  padding: 80px;
  line-height: 2;
}

h3 {
  font-size: 30px;
}
.right {
  width: 50%;
  border-left: 1px solid #000;
  padding: 105px;
  line-height: 2;
}
#info_btn {
  border: 1px solid #000;
  line-height: 5;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #676565cd;
  color: rgb(255, 255, 255);
}

#info_btn:hover {
  background-color: #333333;
}
.footer_container {
  background-color: #929191;
  height: 20vh;
}
.social_media {
  display: flex;
  justify-content: center;
}

.social_media a i {
  font-size: 25px;
  padding: 30px;
  color: #000;
}
.footer_nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer_nav ul li a {
  text-decoration: none;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 18px;
  padding: 30px;
  color: rgb(9, 9, 9);
}
.footer_nav ul li a:hover {
  color: rgb(255, 255, 255);
}
